.container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-login{
    display: flex;
    flex-direction: column;
    min-height: 300px;
    width: 320px;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--shadow-grey);
    border-radius: 5px;
    box-shadow: 0px 0px 30px -5px rgba(0,0,0,0.75);
    padding: 1rem;
}

.container-login h2{
    margin-bottom: 2rem;
}

.container-login input{
    padding: .5rem;
    margin-bottom: 1rem;
}

input:focus{
    border: 3px solid var(--blue);
}