.container {
    background: rgb(0, 0, 0, 0.5);
    backdrop-filter: saturate(180%) blur(18px);
    min-height: 10vh;
    padding: 1rem;
}

.container h5 {
    font-size: 1.2rem;
    color: var(--shadow-grey);
}

.container p {
    padding: 0.5rem 0;
    color: white;
}

.container-info {
    text-align: center;
}
