.container{
    display: flex;
    gap: 1rem;
}

.profile{
    background-color: rgb(0, 0, 0, .75);
    border-radius: 8px;
    color: white;
    width: 30%;
    min-height: 300px;
}

.profile h2{
    color: white;
    text-align: center;
    border-bottom: 1px solid white;
    padding: .5rem;
}

.publication{
    background-color: rgb(0, 0, 0, .75);
    border-radius: 8px;
    width: 70%;
}

@media (max-width: 450px) {
    .container{
        flex-direction: column;
    }
    .profile, .publication{
        width: 100%;
    }
}