.container{
    display: flex;
    gap: 1rem;
}

.profile{
    background-color: transparent;
    border: 2px solid var(--light-violet);
    border-radius: 8px;
    color: white;
    width: 30%;
    min-height: 300px;
    padding: .5rem;
    overflow-wrap: break-word;
}

.profile h2{
    color: var(--dark-violet);
    text-align: center;
    border-bottom: 1px solid white;
    padding: .5rem;
}

.container-info{
    padding-top: 1rem;
}

.profile-img{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    color: var(--dark-violet);
}

.profile-img img{
    margin: 0 auto;
}

.container-publications{
    width: 70%;
}

.container-publications h3{
    color: var(--dark-violet);
}

.container-publication-img{
    background-color: transparent;
    border: 2px solid var(--light-violet);
    border-radius: 8px;
    padding: 1rem;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
}

.delete-btn-primary{
    display: inline-block;
    width: 100%;
    padding: .5rem;
    cursor: pointer;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    /* border: 2px solid var(--dark-violet); */
    box-shadow: inset 0px 0px 14px var(--dark-violet);
    color: var(--dark-violet);
}

.delete-btn-primary:hover{
    color: #fff;
    box-shadow: inset 0px 0px 40px var(--dark-violet); 
}

.container-dialog{
    display: flex;
}

.container-dialog button{
    display: inline-block;
    width: 100%;
    padding: .5rem;
    cursor: pointer;
    font-size: 1rem;
    border: none;
}

.container-dialog .delete-btn{
    color: #fff;
    background-color:#EC5757;
}

.container-dialog .delete-btn:hover{
    background-color: #AA3333;
}

.container-dialog .cancel-btn{
    color: #fff;
    background-color: var(--shadow-grey);
}

.container-dialog .cancel-btn:hover{
    background-color: #a8a8a8;
}

.empty-data{
    color: var(--shadow-grey);
}

@media (max-width: 450px) {
    .container{
        flex-direction: column;
    }
    .profile, .container-publications{
        width: 100%;
    }
}