.container {
    background: rgb(0, 0, 0, 0.5);
    color: var(--white);
    display: flex;
    flex-direction: row;
    padding: 1.5rem;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: saturate(180%) blur(18px);
    box-shadow: 1px -1px 19px 2px rgba(0,0,0,0.75);
    position: fixed;
    top: 0;
    width: 100%;
    height: 4rem;
    z-index: 500;
}

.active {
    background-color: var(--shadow-grey);
    border-radius: 5px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.logo span {
    font-weight: 600;
    padding: 0.5rem;
}

/* .navlink:hover{
    background-color: var(--shadow-grey);
    border-radius: 5px;
} */

.container-section a {
    padding: 0.5rem;
}

.container a:hover {
    color: var(--light-blue);
}

@media (max-width: 650px) {
    .container-section {
        display: none;
    }
    .logo{
        text-align: center;
    }
}
