.container{
    width: 100%;
    display: flex;
    min-height: 100vh;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
    background-color: pink;
}

.container-text{
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    flex: 1;
}

.container-text h2{
    font-size: 3rem;
    margin-bottom: 2rem;
}

.button{
    padding: 1rem 2rem;
    border-radius: 20px;
    border-color: #819FEA;
    display: inline-block;
    margin: auto;
    font-size: 1rem;
    font-weight: 600;
}

.button:hover{
    color: white;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
}

.container-img{
    flex: 1;
}

.container-img img{
    width: 100%;
    max-height: 600px;
}

@media (max-width: 768px) {
    .container-text h2{
        font-size: 2rem;
    }
}

@media (max-width: 650px) {
    .container{
        flex-direction: column;
        justify-content: space-around;
    }
    .button{
        color: white;
        background-color: #4158D0;
        background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    }
}